.switch {
    background-color: var(--toggle);
    border: none;
    padding: .4rem .8rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
    i {
        color: var(--text);
    }
    &:hover {
        border: gray solid .1rem;
    }
}