@import "./breakpoint";
@import "./scrollbar";
@import "./variable";
@import "./mixin";
@import "./NotFound.scss";
@import "./utils";
@import "./loading";
@import "../components/shared/cursor/Dotring.scss";
@import "../components/shared/header/Navbar.scss";
@import "../components/shared/header/Switch.scss";
@import "../components/intro/Aboutme.scss";
@import "../components/project/Project.scss";
@import "../components/behance/Behance.scss";
@import "../components/archive/Archive.scss";
@import "../components/archive/Archiveheader.scss";
@import "../components/shared/footer/Contact.scss";
@import "../components/shared/footer/Footer.scss";
@import "../components/shared/scrollup/ScrollArrow.scss";

/* define all colors as variables */

:root {
  --background: #f9fafb;
  --navBackground: #111111;
  --navBackgroundShadow: 0 1px 30px 0 rgb(145 145 145 / 20%);
  --navActiveLink: #404756;
  --text: #000;
  --textRev: #fff;
  --headingStroke: #fff;
  --hoverStroke: #000;
  --toggle: #eaeaea;
  --toggleHover: #444444;
  --link: #444444;
  --card: #dbe1e8;
  --cardBackgroundShadow: 0 3px 8px rgb(0 0 0 / 24%);
  --span: #3f4954;
}

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--background);
  font-family: "Josefin Sans", "Poppins", "Roboto" !important;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main {
  max-width: 1800px;
  margin: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 20px;
  box-sizing: border-box;
  @include md {
    padding: 0 40px;
  }
  @include lg {
    padding: 0;
  }
}

section {
  margin: 5rem 0;
}
