.headingleft {
  margin: 1rem 0;
  @include heading(left);
  &::after {
    @include selector();
    right: 0;
  }
}

.headingright {
  margin: 1rem 0;
  @include heading(right);
  &::before {
    @include selector();
    left: 0;
  }
}

.card {
  background-color: var(--card);
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out,
    opacity 0.2s ease-out;
  transition-delay: 0.1s;
  transform: translateZ(0);
  box-shadow: var(--cardBackgroundShadow);
  .card-img {
    padding: 1rem 1rem 0 1rem;
    img {
      border-radius: 0.5rem;
      width: 100%;
      height: 200px;
    }
  }
  .card-details {
    @include flex(row, space-between);
    padding: 1rem 1.2rem;
    .card-head {
      h1 {
        color: var(--text);
      }
      p {
        color: var(--text);
      }
    }
    .card-body {
      a {
        text-decoration: none;
        border: 0.06rem solid var(--text);
        border-radius: 50%;
        color: var(--text);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        cursor: pointer;
      }
    }
  }
  @include sm {
    &:hover {
      margin-top: -10px;
    }
  }
}

.social-media {
  @include flex(row, center);
  gap: 1rem;
  margin: 4rem 0;
  a {
    text-decoration: none;
    border: 0.06rem solid var(--text);
    border-radius: 50%;
    color: var(--text);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    transition: 0.5s;
    box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
    &:hover {
      margin-top: -10px;
      background-color: var(--text);
      color: var(--textRev);
    }
  }
}

@include md {
  .social-media {
    margin: 5rem 0;
    a {
      height: 3rem;
      width: 3rem;
      font-size: 1.5rem;
    }
  }
}

@include sm {
  .card {
    margin: 0 1.5rem;
  }
}

@include md {
  .card {
    margin: 0;
    .card-details {
      @include flex(row, space-between);
      padding: 1rem;
    }
  }
  .headingleft {
    margin: 5rem 0;
  }
  .headingright {
    margin: 5rem 0;
  }
}

.card-img {
  position: relative;
  width: 100%;

  .image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .responsive-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
