/* typography */

$ff-serif-jose: "Josefin Sans", sans-serif;
$ff-serif-teko: "Teko", sans-serif;
/* typography */

.ff-serif-jose {
  font-family: $ff-serif-jose;
}

.ff-serif-teko {
  font-family: $ff-serif-teko;
}
/* font */

.fs-300 {
  font-size: 0.8rem;
}

.fs-400 {
  font-size: 1rem;
}

.fs-500 {
  font-size: 1.5rem;
}

.fs-600 {
  font-size: 1.5rem;
}

.fs-700 {
  font-size: 3rem;
}

@include md {
  .fs-300 {
    font-size: 0.9rem;
  }
  .fs-400 {
    font-size: 0.9rem;
  }
  .fs-500 {
    font-size: 1.8rem;
  }
  .fs-600 {
    font-size: 2rem;
  }
  .fs-700 {
    font-size: 5.5rem;
  }
}

@include xl {
  .fs-400 {
    font-size: 1.2rem;
  }
  .fs-500 {
    font-size: 2rem;
  }
  .fs-600 {
    font-size: 2.2rem;
  }
  .fs-700 {
    font-size: 6rem;
  }
}
